* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#color-palette-1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
#color-1 {
    background-color: #4C4C9D;
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 24px;
}

#color-2 {
    background-color: #712F79;
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 24px;
}

#color-3 {
    background-color: #976391;
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 24px;
}

#color-palette-2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
#color-4 {
    background-color: #EF626C;
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding: 24px;
}

#color-5 {
    background-color: #22181C;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding: 24px;
}

#color-6 {
    background-color: #312F2F;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding: 24px;
}
#color-palette-3 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#color-7 {
    background-color: #048A81;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 24px;
}

#color-8 {
    background-color: #06D6A0;
    color: rgb(5, 9, 14);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 24px;
}

#color-9 {
    background-color: #54C6EB;
    color: rgb(1, 2, 3);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 24px;
}
