* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(236,186,95);
}

#navbar {
    position: sticky;
    top: 0;
    background-color: gray;
    display: flex;
    align-items: center;
    z-index: 1;
   
}

#navbar a {
    text-decoration: none;
    color: white;
    padding: 24px;
    transition: color 0.5s;
}

#navbar #links a:hover {
    color: #642021;
}

#navbar #links {
    font-size: 35px;
    position: absolute;
    left: 600px;
}

#navbar #logo {
    margin-right: 75px;
}

#navbar #main-logo {
    width: 300px;
}

#hero {
    background-image: url("../images/hero.jpg");
    background-size: cover;
    background-position: center;
    height: 80vh;
    position: relative;
    bottom: 30px;
}

#hero #hero-content {
    position: absolute;
    top: 15%;
    left: 53%
}

#hero #hero-content a {
    text-decoration: none;
    font-size: x-large;
}

#hero h3 {
    font-size: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(252, 242, 242);
    margin-bottom: 0px;
}
   
#hero a {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.801);
    font-size: 17px;
    font-family: 'Franklin Gothic Medium';
    color: black;
    position: relative;
    left: 335px;
    top: 60px;
    padding: 20px 24px;
    border-radius: 30px;
    transition:
        background-color 0.25s,
        color 0.25s,
}

#hero a:hover {
    background-color: rgb(190, 184, 184);
    color: rgb(228, 13, 13);
}


.header {
    font-size: 40px;
    text-align: center;
    margin: 0px;
    margin-bottom: 20px;
}



.cards-layout {
    display: flex;
    justify-content: center;
}

.card {
    background-color: #f8f8f5;
    border: 6px solid black;
    border-radius: 5px;
    padding: 14px 28px;
    margin: 10px 28px;
    text-align: center;
    width: 400px;
}

.card img {
    width: 300px;
    height: 275px;
    border-radius: 25px
}

.card a {
    text-decoration: none;
    display: inline-block;
}

.card a h5 {
    font-size: 28px;
    margin: 15px;
    color: black;
    padding-bottom: 10px;
}

.card a p {
    font-size: 18px;
    margin: 10px;
    flex: 1;
    height: 10px;
    color: black;
}

.button {
    background-color: rgb(78, 77, 77);
    color: white;
    padding: 10px 36px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    margin: 15px;
    transition: 
        background-color 0.3s,
}

.button:hover {
    background-color: rgb(236,186,95);
    color: black;
    font-size: 25px;
    
}

#header {
    font-size: 50px;
	text-align: center;
}