* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: cursive;
     background: radial-gradient(at 25%, rgb(158, 224, 255), rgb(125, 4, 155));
}
#grid-layout {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-areas: 
        "header header"
        "sidebar main";
}

#header {
    grid-area: header;
    padding: 0px 36px;
}

#sidebar {
    grid-area: sidebar;
    padding: 0px 24px;
}

#main {
    grid-area: main;
    display: flex; 
    flex-wrap: wrap; 
}

#header a {
    text-decoration: none;
}

#header #me {
    color: #111111;
}

#header #tube {
    color: lightblue;
    background-color: indigo;
    padding: 4px;
    border-radius: 12px;
}

#sidebar ul {
    padding: 12px 0px;
    margin: 0px;
    list-style-type: none;
    border-bottom: 1px solid #330133
}


#sidebar ul a {
    text-decoration: none;
    color: #111111;
    display: block;
    padding: 12px;
}

#sidebar ul a:hover {
    background-color: #7134aa;
    border-radius: 12px;
}

.metube-item {
    flex: 250px;
    margin-right: 12px;
    margin-bottom: 24px;
}

.metube-item .thumbnail {
    width: 100%;
    border-radius: 8px;
}

.metube-item h4 {
    margin: 8px;
}

.metube-item h4 a {
    text-decoration: none;
    color: #111111;
    display: block;
}

.metube-item h4 a:hover {
    text-decoration: underline;
}

.metube-item .video-details {
    margin: 8px;
    font-size: 14px;
}

.metube-item .video-channel {
    margin-bottom: 4px;
}

.user-thumbnail {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 47px;
}

#sidebar ul .user-thumbnail {
    vertical-align: middle;
    margin-right: 12px
}

#sub-label {
    margin-top: 24px;
    margin-left: 12px;
    font-size: 22px;
    color: #013701;
}
